:root{
	--mainColor:#15202B;
	--secondaryColor:#1a2d3a;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;

	--projectBG: #2b333b;
	--projectText: #fff;

	--waveUrl: url(images/blue.png);

}